.tableContactsCss {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;

	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}.tableContactsCss table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.tableContactsCss tr:hover td{
	background-color:#c4c1c6;
}
.tableContactsCss td{
	vertical-align:middle;

	background-color:#eed2fe;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.tableContactsCss th{
	vertical-align:middle;

	background-color:#63029d;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:12px;
	color: #ffffff;
	font-size:10px;
	font-family:Arial;
	font-weight:900;


}